<a href="https://colab.research.google.com/github/Alondra10M/Ejercicio1/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Tipo de Uniones

1.Inner Join


*   Une dos conjuntos de datos basandose en una condicion comun

*   Solo incluye las filas que tiene concidencias en ambos conjuntos

*   Elemento de lista

In [1]:
import pandas as pd

##Crear dos DataFrame

In [3]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Nombre': ['Ana', 'Juan', 'Maria', 'Carlos'],
    'Departamento': ['Ventas', 'IT', 'Marketing', 'RH']
})
df2 = pd.DataFrame({
    'ID': [3,4,5,6],
    'Salario': [50000, 60000, 55000, 65000]
})
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   Maria    Marketing
3   4  Carlos           RH
DataFrame 2:
   ID  Salario
0   3    50000
1   4    60000
2   5    55000
3   6    65000

##Fusion inner

In [5]:
inner_merge = pd.merge(df1, df2, on= 'ID', how= 'inner')
print("\nFusion inner:")
print(inner_merge)

Fusion inner:
   ID  Nombre Departamento  Salario
0   3   Maria    Marketing    50000
1   4  Carlos           RH    60000

##Fusion outer

In [7]:
outer_merge = pd.merge(df1, df2, on= 'ID', how= 'outer')
print("\nFusion Outer:")
print(outer_merge)

Fusion Outer:
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing  50000.0
3   4  Carlos           RH  60000.0
4   5     NaN          NaN  55000.0
5   6     NaN          NaN  65000.0

##Fusion left

In [9]:
left_merge = pd.merge(df1, df2, on= 'ID', how= 'left')
print("\nFusion left:")
print(left_merge)

Fusion left:
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing  50000.0
3   4  Carlos           RH  60000.0

##Fusion Right

In [10]:
right_merge = pd.merge(df1, df2, on= 'ID', how= 'right')
print("\nFusion right:")
print(right_merge)

Fusion right:
   ID  Nombre Departamento  Salario
0   3   Maria    Marketing    50000
1   4  Carlos           RH    60000
2   5     NaN          NaN    55000
3   6     NaN          NaN    65000

##Concatenacion

In [12]:
#concatenacion
df3 = pd.DataFrame({
    'ID': [7, 8],
    'Nombre': ['Sofia', 'Pedro'],
    'Departamento': ['Finanzas','Ventas']
})
concatenated1= pd.concat([df1,df3])
print("\nConcatenacion de DtaFrames:")
print(concatenated1)

Concatenacion de DtaFrames:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   Maria    Marketing
3   4  Carlos           RH
0   7   Sofia     Finanzas
1   8   Pedro       Ventas